{% load static %}
<html lang="en"> 
          <head>
            <meta charset="utf-8">
          
            <title>End Order</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />

            <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="{% static 'css/end_order_styles.css' %}">
            <script src="https://telegram.org/js/telegram-web-app.js"></script>

          </head>
          
          <body>
            <div class=frame>
              <span  class="end_text">Спасибо!
                Ваш заказ успешно отправлен.<br>
                Менеджер свяжется с Вами в ближайшее время!
              </span>

              {% url 'tyresapp:tyres' as tyres_url %}
              <a href="{{ tyres_url }}">
                <div class="bin">
                  <div class="bin_background">
                    <div class="blue_bin">
                      <span class="bin_text">Каталог</span>
                    </div>
                  </div>
                </div>
              </a>
              </div>
              </div>
            </body>
          </html>