{% load static %}
<html lang="en">
          <head>
            <meta charset="utf-8">
           
            <title>Order</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />

            <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="{% static 'css/order_styles3.css' %}">
            <script src="https://telegram.org/js/telegram-web-app.js"></script>

          </head>
          
          <body>
            <form id="userData" method="post" class=frame>
              {% csrf_token %}
              <div style="display: block; width: 100%; height: 50px; background-color:rgba(255, 255, 255, 1);"></div>
              <a href="{% url 'tyresapp:basket' tg_id=tg_id %}">
                <span  class="back_text">Назад</span>
                <img class="back_image" src="{% static 'photos/image_1.png' %}">
              </a>

              <span  class="company_title">Шинный магазин FRESH</span>
              <span  class="bot_title">бот</span>
       

              <span  class="recipient">
                Получатель
              </span>
              
              <div class="mar">
                <input id="fio" type="text" placeholder="ФИО" name="fio" required>
                <input id="phone" type="text" placeholder="Телефон" name="phone" required>
                <input id="email" type="text" placeholder="Email" name="email" required>
                <div id="error"></div>
              </div>
              

              <span  class="text_location">
                Обратите внимание, местоположение выбранных товаров:
              </span>
              
              {% if warehouses %}
                {% for warehouse in warehouses %}
                  <p>{{ warehouse }}</p>
                {% endfor %}
              {% endif %}
               
              <span  class="comment_text">
                Комментарии к заказу:
              </span>
              <textarea rows="10" cols="45" name="comment"></textarea>
              
              <span  class="rules">
                Нажимая кнопку “Оформить заказ”, я соглашаюсь на обработку персональных данных
              </span>
              <span  class="cost_text">
                Общая стоимость:
              </span>
              <span  class="cost">
                {{ full_price }} ₽
              </span>

              <div id="endOrderID" class="bin" onclick="endOrder()" style="cursor: pointer;">
                <div class="bin_background">
                  <div class="blue_bin">
                    <span class="bin_text">Оформить заказ</span>
                  </div>
                </div>
              </div>
              <script>
                document.addEventListener('touchstart', function(event) {
                  var focusedElement = document.activeElement;
                  if (focusedElement.tagName === 'INPUT' || focusedElement.tagName === 'TEXTAREA') {
                      focusedElement.blur();
                      var inputMethod = document.createElement('input');
                      inputMethod.setAttribute('type', 'text');
                      document.body.appendChild(inputMethod);
                      inputMethod.focus();
                      inputMethod.parentNode.removeChild(inputMethod);
                  }
                });

                let order = document.getElementById('endOrderID');
                order.addEventListener("click", () => {
                  // document.getElementById("error").innerText = ""
                  let fio = document.getElementById("fio").value;
                  let phone = document.getElementById("phone").value;
                  let email = document.getElementById("email").value;
                  
                  if (fio.length < 5) {
                    // document.getElementById("error").innerText = "Ошибка в фио";
                    let in_fio = document.getElementById("fio")
                    in_fio.placeholder = "Ошибка в имени. Введите ФИО";
                    in_fio.style.borderColor = "red";
                    return;
                  }

                  if ( phone.length < 10 || phone.length > 12) {
                    // document.getElementById("error").innerText = "Ошибка в номере";
                    document.getElementById("phone").placeholder = "Ошибка в номере. Попробуйте снова";
                    document.getElementById("phone").style.borderColor = "red";
                    return;
                  }

                  if (email.length < 8) {
                    // document.getElementById("error").innerText = "Ошибка в email";
                    document.getElementById("email").placeholder = "Ошибка в email. Попробуйте снова";
                    document.getElementById("email").style.borderColor = "red";
                    return;
                  }

      
                  let form = document.getElementById("userData")
                  form.submit()
                });

                
               </script>
            </form>
          </body>
          </html>