{% load static %}
<html lang="en">
    <head>
    <meta charset="utf-8">

    <title>Fresh Shop</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/pixels.css' %}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    </head>

    <body>
        <div class=frame id="frameID">
        </div>
    </body>
</html>