{% load static %}
<html lang="en"> 
  <head>
    <meta charset="utf-8">
  
    <title>Sorting</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/sorting_styles.css' %}">
  </head>
  
  <body>
    <form method="post" class=frame id="sortingID">
      {% csrf_token %}
        <input type="hidden" name="ff" id="final_filter">
        <a href="{% url 'tyresapp:tyres' %}">
          <span  class="back_text">Назад</span>
          <img class="back_image" src="{% static 'photos/image_1.png' %}">
        </a>

        <span class="sorting_text">Сортировка</span>
        <div>
          <label for="default" class="radio-label">По умолчанию</label>
          <input type="radio" id="default" name="filter" class="radio-button">
        </div>

        <div class="tests">
          <label for="new" id="ff" class="radio-label2">Новинки</label>
          <input type="radio" id="new" name="filter" class="radio-button2">
        </div>
        
        <div class="tests">
          <label for="ascending" class="radio-label3">По возрастанию цены</label>
          <input type="radio" id="ascending" name="filter" class="radio-button3">
        </div>
        
        <div class="tests">
          <label for="descending" class="radio-label4">По убыванию цену</label>
          <input type="radio" id="descending" name="filter" class="radio-button4">
        </div>

        <div class="bin" id="buttonID">
          <div class="bin_background">
            <div class="blue_bin">
              <span class="bin_text">Применить</span>
            </div>
          </div>
        </div>
    </form>
       <script>
         let elem = document.getElementById('default')
         elem.onclick = defaultFunc;
         function defaultFunc() {
            document.getElementById("final_filter").value = "default";
        }
       </script>

      <script>
        let elem_2 = document.getElementById('new')
        elem_2.onclick = newFunc;
        function newFunc() {
          console.log("dfasd")
            document.getElementById("final_filter").value = "new";
        }
      </script>

      <script>
        let elem_3 = document.getElementById('ascending')
        elem_3.onclick = ascendingFunc;
        function ascendingFunc() {
            document.getElementById("final_filter").value = "ascending";
        }
      </script>

      <script>
        let elem_4 = document.getElementById('descending')
        elem_4.onclick = descendingFunc;
        function descendingFunc() {
            document.getElementById("final_filter").value = "descending";
        }
      </script>

      <script>
        document.getElementById('buttonID').onclick = applySorting;
        function applySorting() {
            let form = document.getElementById("sortingID")
            form.submit()
        }
      </script>

      <!-- <script>
        var buttonItems = document.querySelectorAll('input[name="filter"]'),
            index, button;

        for (index = 0; index < buttonItems.length; index++) {
            button = buttonItems[index];
            button.addEventListener('click', function (elem) {
                let form = document.getElementById("clear_bin")
                document.getElementById("deleteTyre").value = button.id;
                form.submit()
            });
        }
      </script> -->
      </body>
    </html>