{% load static %}
<html lang="en"> 
  <head>
    <meta charset="utf-8">
  
    <title>Sorting</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/sorting_styles.css' %}">
  </head>
  
  <body>
    <form method="post" class=frame id="sortingID">
      {% csrf_token %}
        <a href="">
          <span  class="back_text">Назад</span>
          <img class="back_image" src="{% static 'photos/image_1.png' %}">
        </a>

        <span class="sorting_text">Сортировка</span>
        <div>
          <label for="default" class="radio-label">По умолчанию</label>
          <input type="radio" id="default" name="filter" class="radio-button">
        </div>

        <div class="tests">
          <label for="new" class="radio-label2">Новинки</label>
          <input type="radio" id="new" name="filter" class="radio-button2">
        </div>
        
        <div class="tests">
          <label for="ascending" class="radio-label3">По возрастанию цены</label>
          <input type="radio" id="ascending" name="filter" class="radio-button3">
        </div>
        
        <div class="tests">
          <label for="descending" class="radio-label4">По убыванию цену</label>
          <input type="radio" id="descending" name="filter" class="radio-button4">
        </div>

        <div class="bin" id="buttonID">
          <div class="bin_background">
            <div class="blue_bin">
              <span class="bin_text">Применить</span>
            </div>
          </div>
        </div>
    </form>

      <script>
        document.getElementById('buttonID').onclick = applySorting;
        function applySorting() {
             let form = document.getElementById("sortingID")
             form.submit()
         }
       </script>
      </body>
    </html>