.frame { 
    background-color:rgba(255, 255, 255, 1);
    position:relative;
    width: 900px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.bin {
    position: fixed; 
    bottom: 0px;
}

.bin_background { 
    box-sizing: border-box;
    padding-right: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:rgba(234.29998755455017, 234.29998755455017, 234.29998755455017, 1);
    width:900px;
    height:150px;
    position:relative;
    bottom: 3px;
}

.blue_bin { 
    background-color:rgba(0, 61.00000016391277, 255, 1);
    width:840px;
    height:120px;
    margin-left: 30px;
    position:relative;
    text-align: center;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}

.bin_text { 
    color:rgba(255, 255, 255, 1);
    width:120px;
    height:36px;
    position:relative;
    top: 27px;
    font-family:Inter;
    text-align:center;
    font-size:45px;
    letter-spacing:0;
}

.bin_card {
    background-color:rgba(255, 255, 255, 1);
    display: flex;
    position: relative;
    margin-top: 0px;
    width: 900px;
    height: 360px;
    justify-content: space-between;
    flex-direction: column;
}

.e18_1286 { 
    color:rgba(0, 0, 0, 1);
    width:360px;
    height:45px;
    position:absolute;
    left:345px;
    top:30px;
    font-family:Inter;
    text-align:left;
    font-size:45px;
    letter-spacing:0;
}
.model { 
    color:rgba(0, 0, 0, 1);
    width:480px;
    height:180px;
    position:absolute;
    left: 360px;
    margin-top: 30px;
    font-family:Inter;
    text-align:left;
    font-size:30px;
    letter-spacing:0;
    display: inline-block;
}
.price { 
    color:rgba(0, 0, 0, 1);
    width:132px;
    height:30px;
    position:absolute;
    right: 30px;
    top:105px;
    font-family:Inter;
    text-align:left;
    font-size:30px;
    letter-spacing:0;
}

.product_image {
    position: relative;
    width: 285px;
    height: 300px;
    top: 15px;
    left: 30px;
    right: 27px;
    bottom: 15px;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    display: inline-block;
}


.e18_1294 { 
    width:216px;
    height:261px;
    position:absolute;
    left:30px;
    top:90px;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    background-image:url(images/photo_2024_02_15_00_05_46_1.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.e18_1295 { 
    color:rgba(0, 0, 0, 1);
    width:261px;
    height:21px;
    position:absolute;
    left:30px;
    top:1245px;
    font-family:Inter;
    text-align:left;
    font-size:18px;
    letter-spacing:0;
}
.e18_1296 { 
    color:rgba(0, 0, 0, 1);
    width:261px;
    height:21px;
    position:absolute;
    left:417px;
    top:1245px;
    font-family:Inter;
    text-align:left;
    font-size:18px;
    letter-spacing:0;
}
.e18_1297 { 
    background-color:rgba(234.29998755455017, 234.29998755455017, 234.29998755455017, 1);
    width:798px;
    height:120px;
    position:absolute;
    left:-9px;
    top:1188px;
}
.e18_1298 { 
    background-color:rgba(0, 61.00000016391277, 255, 1);
    width:750px;
    height:84px;
    position:absolute;
    left:15px;
    top:1206px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}
.e18_1299 { 
    color:rgba(255, 255, 255, 1);
    width:240px;
    height:36px;
    position:absolute;
    left:267px;
    top:1227px;
    font-family:Inter;
    text-align:center;
    font-size:30px;
    letter-spacing:0;
}
.e18_1300 { 
    transform: rotate(0.000005008956130975318deg);
    width:756px;
    height:0px;
    position:absolute;
    left:-3px;
    top:384px;
}

.minus_button { 
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:rgba(255, 255, 255, 1);
    width:120px;
    height:60px;
    position:absolute;
    left:360px;
    top: 240px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}
.plus_button { 
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:rgba(255, 255, 255, 1);
    width:120px;
    height:60px;
    position:absolute;
    left:540px;
    top:240px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}
.number { 
    color:rgba(0, 0, 0, 1);
    width:60px;
    height:30px;
    position:absolute;
    left:480px;
    top: 258px;
    font-family:Inter;
    text-align:center;
    font-size:21px;
    letter-spacing:0;
}
.plus { 
    color:rgba(0, 0, 0, 1);
    width:60px;
    height:30px;
    position:absolute;
    left:30px;
    top:15px;
    font-family:Inter;
    text-align:center;
    font-size:24px;
    letter-spacing:0;
}
.minus { 
    color:rgba(0, 0, 0, 1);
    width:60px;
    height:10px;
    position:absolute;
    left:36px;
    top:9px;
    font-family:Inter;
    text-align:center;
    font-size:30px;
    letter-spacing:0;
}
.location { 
    color:rgba(0, 0, 0, 1);
    width:360px;
    height:60px;
    position:absolute;
    left: 360px;
    margin-top: 135px;
    font-family:Inter;
    text-align:left;
    font-size:24px;
    letter-spacing:0;
}
.e18_1307 { 
    color:rgba(0, 0, 0, 1);
    width:474px;
    height:60px;
    position:absolute;
    left:179px;
    top:420px;
    font-family:Inter;
    text-align:left;
    font-size:24px;
    letter-spacing:0;
}
.e18_1308 { 
    color:rgba(0, 0, 0, 1);
    width:132px;
    height:30px;
    position:absolute;
    left:648px;
    top:498px;
    font-family:Inter;
    text-align:left;
    font-size:24px;
    letter-spacing:0;
}
.e18_1309 { 
    width:216px;
    height:261px;
    position:absolute;
    left:30px;
    top:417px;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    background-image:url(images/photo_2024_02_15_00_05_46_2.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.e18_1310 { 
    transform: rotate(0.000005008956130975318deg);
    width:756px;
    height:0px;
    position:absolute;
    left:-3px;
    top:711px;
}

.e18_1311 { 
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:rgba(255, 255, 255, 1);
    width:111px;
    height:54px;
    position:absolute;
    left:279px;
    top:576px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}
.e18_1312 { 
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:rgba(255, 255, 255, 1);
    width:111px;
    height:54px;
    position:absolute;
    left:504px;
    top:576px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}
.e18_1313 { 
    color:rgba(0, 0, 0, 1);
    width:48px;
    height:30px;
    position:absolute;
    left:423px;
    top:588px;
    font-family:Inter;
    text-align:center;
    font-size:21px;
    letter-spacing:0;
}
.e18_1314 { 
    color:rgba(0, 0, 0, 1);
    width:51px;
    height:30px;
    position:absolute;
    left:534px;
    top:588px;
    font-family:Inter;
    text-align:center;
    font-size:21px;
    letter-spacing:0;
}
.e18_1315 { 
    color:rgba(0, 0, 0, 1);
    width:51px;
    height:30px;
    position:absolute;
    left:306px;
    top:588px;
    font-family:Inter;
    text-align:center;
    font-size:21px;
    letter-spacing:0;
}
.e18_1316 { 
    color:rgba(0, 0, 0, 1);
    width:261px;
    height:63px;
    position:absolute;
    left:279px;
    top:504px;
    font-family:Inter;
    text-align:left;
    font-size:18px;
    letter-spacing:0;
}
.e18_1317 { 
    color:rgba(0, 0, 0, 1);
    width:474px;
    height:60px;
    position:absolute;
    left:279px;
    top:750px;
    font-family:Inter;
    text-align:left;
    font-size:24px;
    letter-spacing:0;
}
.e18_1318 { 
    color:rgba(0, 0, 0, 1);
    width:132px;
    height:30px;
    position:absolute;
    left:657px;
    top:828px;
    font-family:Inter;
    text-align:left;
    font-size:24px;
    letter-spacing:0;
}
.end_price { 
    color:rgba(0, 0, 0, 1);
    width:240px;
    height:30px;
    position:absolute;
    right: 75px;
    bottom: 45px;
    font-family:Inter;
    text-align:right;
    font-size:36px;
    letter-spacing:0;
}
.e18_1320 { 
    width:216px;
    height:261px;
    position:absolute;
    left:30px;
    top:747px;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    background-image:url(images/photo_2024_02_15_00_05_46_3.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.e18_1321 { 
    transform: rotate(0.000005008956130975318deg);
    width:756px;
    height:0px;
    position:absolute;
    left:-3px;
    top:1041px;
}

.e18_1322 { 
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:rgba(255, 255, 255, 1);
    width:111px;
    height:54px;
    position:absolute;
    left:179px;
    top:906px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}
.e18_1323 { 
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:rgba(255, 255, 255, 1);
    width:111px;
    height:54px;
    position:absolute;
    left:504px;
    top:906px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.e18_1324 { 
    color:rgba(0, 0, 0, 1);
    width:48px;
    height:30px;
    position:absolute;
    left:423px;
    top:918px;
    font-family:Inter;
    text-align:center;
    font-size:21px;
    letter-spacing:0;
}
.e18_1325 { 
    color:rgba(0, 0, 0, 1);
    width:51px;
    height:30px;
    position:absolute;
    left:534px;
    top:918px;
    font-family:Inter;
    text-align:center;
    font-size:21px;
    letter-spacing:0;
}
.e18_1326 { 
    color:rgba(0, 0, 0, 1);
    width:51px;
    height:30px;
    position:absolute;
    left:306px;
    top:918px;
    font-family:Inter;
    text-align:center;
    font-size:21px;
    letter-spacing:0;
}
.e18_1327 { 
    color:rgba(0, 0, 0, 1);
    width:261px;
    height:63px;
    position:absolute;
    left:279px;
    top:834px;
    font-family:Inter;
    text-align:left;
    font-size:18px;
    letter-spacing:0;
}
.e18_1328 { 
    color:rgba(0, 0, 0, 1);
    width:240px;
    height:75px;
    position:absolute;
    right:45px;
    top:36px;
    font-family:Inter;
    text-align:right;
    font-size:36px;
    letter-spacing:0;
    cursor: pointer;
}
.end { 
    color:rgba(0, 0, 0, 1);
    width:189px;
    height:30px;
    position:absolute;
    left:45px;
    bottom: 45px;
    font-family:Inter;
    text-align:left;
    font-size:36px;
    letter-spacing:0;
}

.back_text { 
    color:rgba(0, 61.00000016391277, 255, 1);
    width:156px;
    height:30px;
    position:absolute;
    left:60px;
    top:30px;
    font-family:Inter;
    text-align:left;
    font-size:36px;
    letter-spacing:0;
}

.back_image { 
    transform: rotate(2.196181036466194e-15deg);
    width:45px;
    height:45px;
    position:absolute;
    left:6px;
    top:30px;
}
