body {background: #E5E5E5; }

.frame { 
	background-color:rgba(255, 255, 255, 1);
	position:relative;
	width: 270px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.bin {
	position: fixed; 
	bottom: 0px;
}

.bin_background { 
	box-sizing: border-box;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color:rgba(234.29998755455017, 234.29998755455017, 234.29998755455017, 1);
	width:270px;
	height:40px;
	position:relative;
	bottom: 1px;
}

.blue_bin { 
	background-color:rgba(0, 61.00000016391277, 255, 1);
	width:254px;
	height:30px;
	position:relative;
	text-align: center;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.bin_text { 
	color:rgba(255, 255, 255, 1);
	width:40px;
	height:12px;
	position:relative;
	top: 9px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}


.v-all {
	display: flex;
	flex-direction: row;
	align-items: start;
  
	font-size: 1rem;
  
	line-height: 1.25;
}

.v-css > INPUT:checked {
	color: #0091ea;
}


.v-css > INPUT:not(:checked) {
	color: white;
}

.sort_text {
	color:rgba(0, 0, 0, 1);
	position:absolute;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}

input {
	width: 50px;
	height: 50px;
}

